body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* --SIDEBAR-- */

.fa-window-close.fa-w-16.mdl-button {
  width: 20px;
}

#autocomplete {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.2), 0 0px 1px 0 rgba(0,0,0,.12);
  height: 29px;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  padding-top: 0;
  min-width: 107px;
  width: 45%;
}

.filter {
  margin: 20px 0 5px 0;
}

#add-interest-button {
  margin-left: 10px;
}

#places-button,
#list-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.list-filter {
  margin-left: 10px;
  margin-bottom: 10px;
}

.bottom-hr {
  margin-left: 0;
}

.interest-header {
  text-align: center;
  font-family: "Helvetica","Arial",sans-serif;
}

.interest-list li {
  margin-left: 10px;
  font-family: "Helvetica","Arial",sans-serif;
  font-weight: 500;
  letter-spacing: .03em;
  color: rgb(9, 0, 0);
  margin-top: 2px;
  font-weight: bold;
}

.interest-list li:hover {
  color: #FFF;
}

.button-container,
.interest {
  display: inline-block;
  padding-right: 5px;
  padding-top: 10px;
  margin-left: 10px;
}

.interest {
  font-family: "Helvetica","Arial",sans-serif;
  font-weight: bold;
  color: rgb(9, 0, 0);
}

.sidebar {
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#FFF, #636363 35%, #fff);
  background: -o-linear-gradient(#ffffff, #636363 35%, #fff);
  background: linear-gradient(#fff, #636363 35%, #a19a9a);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-width: 220px;
  width: 20%;
  height: 100vh;
  float: left;
  display: inline-block;
  overflow: scroll;
  z-index: 1;
  position: absolute;
}

.sidebar h3 {
  color: white;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #000;
}

.interest-list {
  list-style: none;
}

.hide {
  display: none !important;
}

.location-search {
  clear: both;
  padding-left: 100px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 22%;
}

@media only screen and (max-width : 735px) {
  .search {
    width: 50%;
  }
}

@media only screen and (max-width : 680px) {
  .search {
    margin-left: -10px;
    width: 50%;
  }
}

@media only screen and (max-width : 680px) and (min-width : 461px) {
  .location-search {
    left: 15%;
  }
}

@media only screen and (max-width : 460px) {
  .location-search {
    left: 12%;
    padding-left: 88px;
  }
  .search-bar {
    width: 0 !important;
  }
  .search {
    width: 50% !important;
  }
}

@media only screen and (max-width : 410px) {
  .location-search {
    left: 10%;
  }
}

@media only screen and (max-width : 340px) {
  .search-button {
    margin: 20px 0 0 -15px !important;
  }
  .search {
    margin-left: -43px !important;
  }
}


.location-search div {
  padding-bottom: 0;
}

.powered-by-container {
  color: rgb(198, 198, 198);
  margin: 20px 10px;
}

.foursquare-logo,
.google-logo {
  font-size: 2.3em;
  margin: 0 20px 0 0;
  display: inline-block;
}

.google-logo {
  color: #3cba54;
}

.foursquare-logo {
  color: #f94877;
}

.remove-button-container {
  display: block;
  margin-left: 10px;
}

/* --HEADER-- */
.header {
  z-index: 1;
  background: none;
  width: 80%;
}

@media only screen and (max-width : 1005px) {
  .header {
    left: 200px;
  }
}

@media only screen and (max-width : 450px) {
  .header {
    width: 100%;
  }
}

.search-bar {
  display: inline-block;
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 1;
}

.search {
  width: 65%;
  margin-left: 1px;
  height: 27px !important;
}

.search-button {
  margin: 20px 0 0 24px;
  width: auto;
  height: auto;
}

#go-to-button {
  position: absolute;
  top: 0px;
}

.theme-options {
  display: inline-block;
  margin: 15px 10px 0
}

.theme-options button {
  margin-right: 10px;
}

.theme-button-container {
  display: inline-block;
  float: left;
}

.hamburger-container {
  margin: 20px 0 0 20px;
  display: inline-block;
  position: absolute;
  z-index: 10;
}

@media only screen and (max-width : 1135px) {
  .hamburger-container {
    left: 230px;
  }
}

.fa-bars,
.fa-window-close {
  color: rgb(68,138,255);
  font-size: 30px;
}

.fa-window-close {
  float:right;
  text-align: right;
  margin: 5px 10px 0 0;
}

.close-button-container {
  text-align: right;
  display: block;
  height: 25px;
  margin: 5px 10px 0 0;
  z-index: 12;
}

.fa-bars:hover,
.fa-window-close:hover {
  color: #FFF;
}

#go-to-button {
  margin-top: 10px;
}

/* --MAP-- */
.loading-map {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1
}

#map {
  display: 'inline-block';
  position: inherit !important;
  z-index: 2;
}

/* --MATERIAL DESIGNS-- */
.button-container .mdl-button--fab {
  font-size: 14px;
}

.marker-icon {
  background-color: #000 !important;
}

.mdl-textfield {
  padding-top: 10px;
}

.mdl-button {
  min-width: 0px;
}

.mdl-button--fab {
  height: 25px;
  width: 25px;
}

.mdl-textfield__input {
  background-color: #FFF;
  height: 26px;
}

.map-area {
  float: right;
  display: inline-block;
  width: 80%;
}

.mdl-button:hover {
  background-color: #FFF !important;
  color: rgb(68,138,255) !important;
}

input:hover {
  color: rgb(68,138,255) !important;
}

/* -- INFOWINDOW -- */
.name h4 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 1.3em;
}

.infowindow-div img{
  margin-bottom: 5px;
}
